<!DOCTYPE html>
<html>
  <head>
    <title>Dillow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <meta property="og:title" content="Project Title" />

    <meta property='og:image' content="<%= image_url('https://user-images.githubusercontent.com/91623374/155616616-75493eee-1a67-4295-8a8d-1f360f477fb5.png') %>" />

    <meta property="og:description" content="Dillow is a web application influenced by Zillow. Users can browse real estate, see an overhead view of locations with Google's Maps Javascript API, save their favorites, and post their own listings for sale." />

    <meta property="og:url" content="https://dillow.herokuapp.com/#/" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_api_key}&libraries=places" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/bb8fa88233.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body>
    <script type="text/javascript">
      window.oceanCityBanner = "<%= image_url('ocean-city-banner.png') %>"
      window.savedHeartUrl = "<%= image_url('heart_filled.png') %>";
      window.notSavedHeartUrl = "<%= image_url('heart_outline.png') %>";
    </script>



    <%= yield %>
  </body>
</html>
